<!DOCTYPE html>
<html>
<head>
<title>Sample Application</title>
<script src="javascripts/jquery.js" type="text/javascript"></script>
</head>
<body>
<div class="header">

</div>
<div>
           <%= yield %>
	</div>
</body>
</html>