<div>User information</div>
<div>
<form method="post" action="/user">
<fieldset>
<div>
<div>Name</div>
<input name="name" type="text" class="Personal-input" id="name" value=""></div>

<div>
<div >Email</div>

<div>
<input name="email" type="text" class="Personal-input" maxlength="30">
</div>
</div>

<div>
<div>Info</div>

<div>
<textarea name="desc" cols="30" rows="5" class="massage-textFild">Enter your information</textarea>
</div>
</div>


</fieldset>
<div>
<button name="submit"> Submit </button>
</div>
</form>
</div>




</div>  